[2018-11-23 01:31] apike opened #1 "Write up "recipe" for speaker selection and topics"
I'll "brain dump" what I've done historically and some proposed philosophy for speaker selection and topics, perhaps as a GitHub wiki page or just in the readme of this repo, which then we can iterate with feedback. This will be helpful for folks helping coordinate talks, and for folks who want to speak at VanJS.

[2018-12-06 03:06] ShMcK opened #3 "Speaker Proposal Template"
Thoughts on creating a [github issue template](https://blog.github.com/2016-02-17-issue-and-pull-request-templates) for speaker proposals?

A template would likely include the necessary information:

### Presentation
- Title
- Summary (1-2 paragraphs)
- Target audience (beginner, intermediate, advanced)
- Length (5 mins, 25 mins, 45 min maximum)
- Links (slides, article, notes, etc.)
- Equipment N

[2018-12-06 03:17] ShMcK opened #4 "Code of Conduct"
A Code of Conduct would be helpful to reference and have presenters sign off on before continuing.

@apike I believe you already created such a document, perhaps it may be worth another PR?

[2018-12-06 03:17] chowdhurian commented on #3
Great idea! Template would def help the process. I've found that giving speakers a form to fill out is helpful and this is the Github equivalent.

I'd suggest some way to encourage people to keep their mini-bio...mini. Saying that we'd need to fit it into a tweet, so 280 chars, is one way.

Same goes for the title :)

Resource: [proposal form for C&C](https://docs.google.com/forms/d/10w4UnhLZDSQA9

[2018-12-06 03:19] ShMcK commented on #3
Definitely. It would save us time following up on information, while still leaving the format fairly open.

Any suggestions for editing the included information above?

[2018-12-06 23:15] apike commented on #4
For sure, I'll do an editing and modernization pass on the existing VanJS code of conduct and post it as a PR here.

[2018-12-06 23:18] apike commented on #3
I think having a template is good, we just want to structure it in a way that it doesn't intimidate speakers, especially new ones, who may be looking for feedback and validation on their proposed topic idea before pitching an exact title, links, etc. Marking some things as optional are probably the way to go.

[2018-12-07 17:31] #1 closed

[2018-12-07 17:33] apike opened #5 "Day-Of Event Info"
I have some rough notes on what should ideally happen the day of a VanJS about AV, chairs, and MC duties. I'll write these up here.

[2018-12-12 23:19] #4 closed

[2019-01-11 23:15] apike commented on #3
Loaded up a speaking issue template – take a look and feel free to make/propose improvements!

[2019-01-11 23:15] #3 closed

[2019-01-14 19:08] Qard opened #8 "Talk Idea: Async Iterators, a new future for streams"
- **Draft Title:** Async Iterators, a new future for streams
- **Length:** Either lightning or a 20 minute talk, I can scale it to whatever is needed. 👍

Async Iterators make for an exciting new stream-based future. They unlock a lot of possibilities that have long been quite complicated to achieve with Node.js style streams. I want to show a few examples of how async iterators can enable easier s

[2019-01-14 20:52] james2doyle opened #10 "Talk Idea: Typescript"
- Draft Title: Getting familiar with Typescript
- Short Summary: Intro to Typescript, some of it's features, and how to migrate from JS to TS gracefully
- Length: 20-45 min full presentation
- Links: Going to refactor this to be more JS specific: https://docs.google.com/presentation/d/162PM0dXUAoIZG15m1aPDCbP21JwN_su7zHjkZgk7O2k/edit#slide=id.g1f5aa78f68_0_6

### About Me
- Name: James Doyle
- Min

[2019-01-19 00:53] apike opened #11 "New VanJS logo"
We have a new VanJS logo! Tracking issue here for myself to update any existing instances of the old logo.

![vanjs-square](https://user-images.githubusercontent.com/129240/51419716-7fa73700-1b41-11e9-8c56-ad150c8014af.png)

[2019-01-24 00:49] apike opened #13 "Talk Request: async and await"
In addition to filing talk proposals, I think it'd be interesting to also file and track talk _requests_: talks people would interested to see. So here's mine:

----

In 2016 JavaScript got `async` and `await` for working with Promises. Most JavaScript developers have since encountered these features, but may not yet have a deep understanding of how they work in JavaScript, the pros and cons of us

[2019-01-25 20:34] neilk-vrchat commented on #13
I've made almost every mistake you can make with Promises, and now I pretty much only use async/await. I might be able to throw something together

What sort of things would you all like to see? Pick as many as you would like

1) async/await: how do I even?

2) The long, sordid tale of managing in JavaScript (at least *some* of this is necessary to discuss what async/await does, but I could go dee

[2019-01-25 20:37] neilk commented on #13
I could throw a talk together. I have been struggling with this stuff since 2013, and made just about every mistake. What would you all like to hear about?

1) Basic howto

2) The long sordid history of asynchrony in JS. Unfortunately you have to know this stuff even if you work exclusively in async/await

3) Bleeding edge stuff like AsyncHooks. (This would be an extra reason for me to solve a thi

[2019-02-04 15:47] ShMcK commented on #8
Stephen, great topic choice!

Let us know if there's any way we can help with reviewing or giving early feedback for the talk.

If you have an early draft, or you'd like to meet up and demo it beforehand, let me know :)

[2019-02-04 15:54] ShMcK commented on #10
@james2doyle, I've been tasked with helping out presenters in any way needed. If you would like to bounce any ideas around or try an early dry run of your presentation for feedback, happy to help.

In terms of length, due to time constraints, it may be better to aim for 20-25 minutes with additional time for questions afterward.

[2019-02-04 15:56] ShMcK commented on #13
I feel like this topic, and AsyncHooks would pair well with #8.

[2019-02-04 17:14] james2doyle commented on #10
@ShMcK thanks for the heads up! I will let you know if I need anything 👍

[2019-02-04 17:51] neilk commented on #13
@ShMcK Great idea. How about a double-header? I'll start with the history, get people up to async/await, and then I can leave advanced topics like AsyncHooks and beyond to @Qard.

I would do it just to get the inside track on AsyncHooks. I was really disappointed there wasn't a plausible way to do, for instance, request-id tracing in an Express server, but I couldn't find a public roadmap for this

[2019-02-04 18:01] neilk opened #14 "Talk Idea: Async and await"
- **Title**: Async and await
- **Length:** (20-45 min full presentation)
- **Links:** (n/a)

At the end of this talk, you'll know how to use async/await in JavaScript, and the important gotchas.

And hopefully, you’ll also have a better sense of what’s really going on, and how to fix it when it doesn’t seem to be working.

Neil has worked on JS frontends at Wikipedia and currently hacks Node.js at

[2019-02-04 18:06] neilk commented on #13
I just made a proposal #14 so IDK, do we mark this a dupe, or closed?

[2019-02-04 19:34] #13 closed

[2019-02-04 21:43] KittyBot opened #15 "Talk Idea: Improving Lighthouse Scores for Your React Apps"
- **Draft Title:** Improving Lighthouse Scores for Your React Apps
- **Length:** 20 min
- **Links:** https://speakerdeck.com/kittybot/conquering-lighthouse-for-your-react-apps

This talk quickly walks through Chrome's Lighthouse performance monitoring tool, and how it applies to React apps. Lighthouse scores are a great proxy for user experience, high scores mean users see “fast” and low scores me

[2019-02-04 21:54] KittyBot opened #16 "Talk Idea: Rethinking a CDN"
Submitting on behalf of @michaeldwan
- **Draft Title:** Rethinking a CDN (title WIP)
- **Length:** 30 - 45 min
- **Links:** WIP outline: https://gist.github.com/michaeldwan/7488fc76f20678bbccec20a2355bf14f

A talk about CDNs: past, present, and the future...

### About Speaker
- **Name:** Michael Dwan
- **Mini-bio:**
  - Software designer & engineer. Building @superfly, previously @highrise, @drop

[2019-02-05 02:50] ShMcK commented on #8
20 minutes-ish sounds great

[2019-02-05 03:12] ShMcK commented on #15
Interesting topic.

Just to verify, your location on Github/Twitter says you're quite a ways from Vancouver. Have you moved recently, or will you be in the area during specific dates?

[2019-02-05 03:14] ShMcK commented on #14
Love it. We may be able to fit a shorter presentation (20 mins ish) in on the same day. Promise I'll callback after awaiting a response from Jeremy.

[2019-02-14 04:08] ShMcK commented on #10
@james2doyle would you like to update the blurb for the meetup posting? Currently it's set as below:

[code]

A pretty good summary, but a bit short!

[2019-02-14 19:28] neilk commented on #14
So where are we with this?

It would help if I had a date to plan around

[2019-02-14 19:42] james2doyle commented on #10
@ShMcK New intro:

[2019-02-14 19:43] ShMcK commented on #10
Thanks, I've updated the meetup page: https://www.meetup.com/vancouver-javascript-developers/events/258909223/

[2019-02-14 19:52] ShMcK commented on #14
I hoped we could fit in this month, as the topic would go well Stephen's talk this month. However, there were a lot of other valid ideas discussed - such as the need to spread out good talks across different meetups, as well as the desire to avoid rescheduling existing bookings.

I apologize, as we haven't gotten into a good swing of scheduling and booking talks. The good news is: we can definitel

[2019-02-14 22:59] ShMcK commented on #14
@neilk Would March 28th be a possibility for you?

[2019-02-14 23:00] neilk commented on #14
👍🏼

On Thu, Feb 14, 2019 at 2:59 PM ShMcK <notifications@github.com> wrote:

[2019-02-14 23:02] ShMcK commented on #14
Great! Will verify and tag this issue.

Other than that, if there's anything we can do to help your presentation be the best it can be, drop a line in this channel.

[2019-02-28 18:05] daffl opened #17 "Talk Idea: Getting ready for the decentralized web"
- **Draft Title:** Getting ready for the decentralized web
- **Length:** 35 minutes
- **Links:** Original 10 minute lightning talk slides: https://daffl.github.io/decentralized-web/

The decentralized web promises to give us more control over our data and how it is used and bring us closer to the original vision of the world wide web. In this talk I'd like to go over what it is, where things are a

[2019-02-28 18:38] daffl opened #18 "Talk Idea: Node project best practises"
- **Draft Title:** Node project best practises
- **Length:** 35 minutes
- **Links:** This talk would be a shorter summary of the three workshops we are currently working on for Nodeschool (/cc @keywordnew, @Qard). First workshop slides at https://cambiecollective.github.io/open-source-start/

With all the tools and modules available, setting up a new NodeJS project can be a little overwhelming.
In

[2019-03-04 06:40] keywordnew commented on #17
+1 to JavaScript's role in a decentralized ecosystem 💯

[2019-03-08 20:49] james2doyle commented on #10
https://docs.google.com/presentation/d/1ddWeC1QKBPqNVwkUSVy8dV700NJtySJA5sNOjV3jeMU/edit?usp=sharing

[2019-03-08 20:49] james2doyle commented on #10
Should this get closed now?

[2019-03-08 20:57] james2doyle opened #19 "Talk Idea: Lodash"
- **Draft Title:** Lodashing around
- **Length:** 20-45 min full presentation
- **Links:** No links, but I have been developing a little course on the topic of lodash and some of the more obscure and slick things you can do

This presentation will showcase the [lodash library](https://lodash.com/docs/4.17.11). Lodash is a popular tool for dealing with collections of objects and arrays. It also inc

[2019-03-08 21:48] #10 closed

[2019-03-08 21:48] #8 closed

[2019-03-11 19:36] #11 closed

[2019-03-14 02:44] ShMcK commented on #17
Interesting topic, sorry for the late notice - but @daffl would you be available for March 28th by chance?

[2019-03-14 02:45] ShMcK commented on #16
@KittyBot & @keywordnew - which dates might you be available?

[2019-03-14 02:48] ShMcK commented on #19
Sounds super helpful. Maybe even some "lodash refactor challenges" for the audience.

Which dates might you be available?

[2019-03-14 02:57] james2doyle commented on #19
Yeah that would be fun. Maybe turn it into more like a gameshow with questions and answers haha

I'm pretty open as long as I get a few weeks notice

[2019-03-14 03:00] ShMcK commented on #19
We still need a speaker for the 28th this month. This is mostly my fault for not paying much attention to posts over the past weeks.

I thought we might try for a different speaker next month, as you had just rocked it last month. However, if we don't find someone in the next day or so, would you be willing to sign on for March 28th?

[2019-03-14 03:10] james2doyle commented on #19
Yeah I could do that. If you do find some different speakers for this month you can bump me to next one. I'm fine with that

[2019-03-14 03:27] keywordnew commented on #19
@james2doyle that's super supportive! 💯🙌🏽💯

[2019-03-14 03:30] keywordnew commented on #16
^^ possible we meant to mention @michaeldwan? Thanks GitHub 😉

[2019-03-14 03:58] ShMcK commented on #16
Terrible autocomplete, and double checking on my part :) Yes, @michaeldwan!

[2019-03-14 05:08] james2doyle commented on #19
Just realized the PHP meetup is on the same day (28th) so I actually CAN'T do it this month...

[2019-03-14 21:13] daffl commented on #17
Possible but I would prefer a little more time (e.g. April) do some more research and improve the demo I had.

[2019-03-14 21:18] ShMcK commented on #17
We're still looking for a talk for Mar 28th, would this talk or #18 work? Pressed for time to lock things down at this point.

[2019-03-14 21:36] daffl commented on #17
Fair enough. I might as well then. Let's do it 😄

[2019-03-17 00:12] ShMcK commented on #17
Awesome, will put you down :) Thanks again!

[2019-03-20 02:16] neilk commented on #14
So here's how I think I'm going to structure this talk. I'm a believer in the Mark-Jason Dominus style of presenting which is "get to the main point on slide 2 and continue building outward from there"

- a simple example of async and await in action
- another example
- another slightly more complicated example
- a common pitfall
- another common pitfall which reveals the nature of Promises
- Okay

[2019-03-20 03:14] ShMcK commented on #14
I like the "get to the point". Personally, I like presentations like podcasts - start with a puzzle and work your way up to the solution.

A lot of people will be familiar with Async/Await and/or promises, but maybe not the pitfalls of it.

A suggestion you don't need to follow, but there it is:
- async await in all its glory
- wait, why didn't that work? so much mystery
- where it all started - c

[2019-03-20 03:20] ShMcK commented on #14
A personal favorite async cartoon:
![async](https://user-images.githubusercontent.com/4660659/54656839-7294be80-4a84-11e9-8f07-2d915390c014.jpg)

[2019-03-26 17:30] neilk commented on #14
@apike In the bio you posted on Meetup, you listed my affiliation as Sauce Labs, but I work for VRChat now

[2019-03-26 17:47] ShMcK commented on #14
I'll update it now. Sorry about that, I should have verified the post before submitting.

[2019-03-26 17:49] ShMcK commented on #14
@neilk could you verify the updated content: https://www.meetup.com/vancouver-javascript-developers/events/259569073/ ?

[2019-03-26 17:52] neilk commented on #14
@ShMcK Thank you for jumping on this so quickly! I edited it a bit after you posted, can you update?

[2019-03-26 17:52] ShMcK commented on #14
sure thing!

[2019-03-26 18:06] neilk commented on #14
LGTM, thanks @ShMck

[2019-03-29 03:05] classam opened #21 "Talk Idea: The Horrifying Journey From 1000 Users To 5 Million Users, And What Alice Found There"
- **The Horrifying Journey From 1000 Users To 5 Million Users, And What Alice Found There:**
- **Length:** 20-45 minute full presentation
- **Links:**

In 2017, our simple little node API expanded from hundreds of users to hundreds of thousands of users in a [relatively short time](https://www.polygon.com/2018/1/8/16863932/ugandan-knuckles-meme-vrchat), and our small team had to figure out how to

[2019-03-29 05:13] #21 closed

[2019-04-01 20:42] james2doyle commented on #19
I'm good to go this month if that is still an option. I am also open to being bumped again in case someone else pops up. You can consider me "on call" for now.

[2019-04-02 01:03] #14 closed

[2019-04-02 01:03] #17 closed

[2019-04-02 01:12] ShMcK commented on #19
Sounds good, I'll get the ball rolling on sorting out a venue and let you know.

[2019-04-02 02:04] keywordnew commented on #17
Great talk @daffl, thank you! 👏🏽🎉👏🏽

[2019-05-03 23:36] jaller94 opened #22 "Talk Idea: Web of Things API"
- **Title:** Web of Things API – Owning home automation via HTTP
- **Length:** 40 minutes
- **Links:**
  - [Summary](https://linuxfestnorthwest.org/conferences/2019/program/proposals/246)
  - [Slides](https://wiki.chrpaul.de/_media/web_of_things:web_of_things_api.pdf)
  - [Recording](https://wiki.chrpaul.de/_media/web_of_things:web_of_things_api.pdf)

The Web of Things is an application layer prot

[2019-06-23 22:23] skysteve opened #23 "Talk Idea: Creating a shared component Library"
- **Draft Title:** Creating a shared component Library
- **Length:** 30m Presentation
- **Links:** TBD - just a proposal at the moment

Have you ever found yourself duplicating UI components across projects? Do you want to reduce your duplicated workload but don’t know where to start?

In this talk we’ll discuss how you can build your own component library for your team(s) to use across any number

[2019-07-06 08:00] jaller94 commented on #22
I withdraw my application for a talk, as I am about to move out of Vancouver.

[2019-07-06 08:00] #22 closed

[2019-07-06 18:11] keywordnew commented on #22
@jaller94 good luck for what lies ahead! 🎉

[2019-07-08 23:38] oliv9286 opened #24 "Talk Idea: Writing code to refactor code - a practical guide to Abstract Syntax Trees"
- **Draft Title: Writing code to refactor code - a practical guide to Abstract Syntax Trees**
- **Length:** 30 minutes
- **Links:** https://drive.google.com/file/d/15OhjMXDVfrsBX5VtRpzQ6fvFJIJJH7eY/view?usp=sharing

Earlier this year, we migrated almost two thousand files from CommonJS to ES modules using codemods based on Babel. Codemods are scripts that change source code by traversing and manip

[2019-07-09 03:22] ShMcK commented on #23
Hi Steve, great topic!

Would you be available in September to give a talk?

[2019-07-09 03:28] ShMcK commented on #24
Hi Olivia,

Fascinating and unique topic choice. I'd already love to learn more about how you created Babel codemods.

Would you be available to give a talk in September? Unspecified date so far.

[2019-07-09 18:24] oliv9286 commented on #24
@ShMcK that'd be great! thank you so much for having me

[2019-07-10 12:02] Qard commented on #24
If you're interested in a themed event, I could also do a talk on rewriting JavaScript AST with [esprima](https://npm.im/esprima), [escodegen](https://npm.im/escodegen), and [esquery](https://npm.im/esquery).

I've also built some of my own little helper tools on top of those for experimenting with alternative APM instrumentation methods: [ast-function-tools](https://github.com/Qard/ast-function-t

[2019-08-14 02:33] ShMcK commented on #24
Sorry, have been active enough on here.

@oliv9286 would September 11th work?

@Qard maybe you could help @oliv9286 with some feedback?

[2019-08-14 02:35] ShMcK commented on #23
@skysteve would you be available for Sept 11th?

[2019-08-14 18:18] oliv9286 commented on #24
@ShMcK yup! thank you :)

[2019-08-14 23:12] Qard commented on #24
I'm happy to review or provide feedback, if @oliv9286 wants it. :)

[2019-08-18 05:19] argemiront opened #25 "Talk Idea: Clear and Performant GraphQL"
- **Draft Title: Clear and Performant GraphQL**
- **Length**: 20~40 min full presentation.
- **Links**: TBD - just a proposal at the moment.

The talk will give attention to building features in GraphQL that I found unclear at first or not well documented. I'll demonstrate:
- GraphQL basics
- Applying middleware
- Using dataloaders to cache/batch queries
- Using schema directives

### About Me

-

[2019-08-20 21:22] ShMcK commented on #25
@argemiront has taught me a lot about using GQL. Thumbs up here :)

Would you be available for Sept 11th ?

[2019-08-20 22:52] argemiront commented on #25
September 11th is fine for me!

[2019-08-22 02:04] ShMcK commented on #24
I'll put up the summary & bio on Meetup.com

@oliv9286 Please edit the following summary to your liking:

[code]

[2019-08-22 02:09] ShMcK commented on #25
An early draft for the Meetup Page

@argemiront please edit to your liking - especially the Bio :)

[code]

[2019-09-05 20:29] ShMcK commented on #24
Hi @oliv9286, just a follow up:

Are you ready for next week's presentation? If you'd like any early feedback, let me know.

[2019-09-05 20:49] oliv9286 commented on #24
@ShMcK yes :) I might ask you for some feedback next monday

[2019-09-05 21:33] ShMcK commented on #24
Sounds great, @Qard could have a chance to chime in too :)

[2019-09-12 05:48] #24 closed

[2019-09-12 05:48] #25 closed

[2019-09-23 23:05] ShMcK opened #26 "Move VanJS to github.com/vanjs/meetup"
I recently acquired "github.com/vanjs" from its previous owner.

I propose we transfer ownership of this repo to the VanJS organization. I believe it's easier to find/remember `github.com/vanjs/meetup`, and may lead to more traffic. It may even drive organic traffic.

The idea would be to eventually host a vanjs.github.io website that explains how to apply as a speaker and more info about the org.

[2019-09-24 23:59] ShMcK commented on #26
Any objections/questions/comments?

[2019-09-25 20:56] apike commented on #26
I've appreciated the help that Cambie Collective folks have provided VanJS so far, though of course there's no reason that would need to stop if VanJS would benefit from moving repos. I'm on board with this if @ShMcK thinks this will help visibility and/or clarity for attendees.

[2019-09-25 21:32] Qard commented on #26
No objection from me. Seems reasonable.

I only created cambiecollective in the first place to be a _support_ organization and not an umbrella organization that would _own_ the events. Having the repo here may have been convenient to get started, but may also suggest a hierarchical relation which was never intended. I think we could consider events with repos within the cambiecollective org to be

[2019-09-25 23:01] ShMcK commented on #26
Thanks everybody, I'll move it over and start to rally up some speakers at the new url.

[2019-09-25 23:05] #26 closed

[2019-09-26 00:06] jagonalez commented on #5
these have been added: https://github.com/VanJS/meetup/blob/master/DAYOF.md

closing

[2019-09-26 00:06] #5 closed

[2019-09-26 00:10] jagonalez commented on #15
Christina is not able to give this talk anymore. Closing.

[2019-09-26 00:10] #15 closed

[2019-09-26 00:10] jagonalez commented on #16
Closing due to inactivity. Feel free to re-open if you want to give the talk.

[2019-09-26 00:10] #16 closed

[2019-09-26 16:50] jagonalez opened #29 "Event: Hacktoberfest (Oct. 20th)"
October is Hacktoberfest, let's create an event around open source.

Typical events:
- Workshop
- Hack
- Talk style (contributing, demoing open source projects)

You can check out Hacktoberfest here: https://hacktoberfest.digitalocean.com

[2019-09-26 17:48] Qard commented on #29
I'd like to volunteer for NodeSchool to collaborate. We've been running an open source day every month for about a year alongside the core Node.js and JavaScript learning event.

@keywordnew @daffl would likely be interested too. :)

[2019-09-26 20:35] daffl commented on #29
Was thinking the same thing when I signed up for Hacktoberfest the other day. It can also be added to the event list at https://hacktoberfest.digitalocean.com/events via https://hacktoberfest.digitalocean.com/eventkit/#form

[2019-09-27 00:03] ShMcK commented on #29
We could try a Q&A format with active open source peeps from the community.

So far:
- @daffl (Feathers.js)
- @brentvatne (Expo)
mentioned they would be down.

Looking for one more. Any suggestions?
Also, we'd need some good Qs.

[2019-09-27 00:32] Qard commented on #29
I'm down for representing Node.js core and/or the Elastic APM Node.js agent.

[2019-09-27 02:52] ShMcK commented on #29
Based on the https://hacktoberfest.digitalocean.com/eventkit

Agenda Outline:
- Intro to Open Source
- Q&A (need enough mics)
- Workshop
- Hack Time + Demos

Think we just need a location and date then.
Any limitations on date? Ideally earlier in October (2nd week?) if we're going to be in time for Hacktoberfest.

From the survey people like a Wed/Thu 6/6:30pm start.

Maybe aim for a location with

[2019-09-27 21:41] ShMcK commented on #29
CodeCore has moved to New West.
We can get a big space (10-120) at DevHub if we do the event on a Sunday.
BrainStation has space for 80 for a weekday.

@daffl @brentvatne @Qard thoughts?

[2019-09-27 22:14] Qard commented on #29
I'm good with Sunday. Weekdays could be okay, though NodeSchool has generally gone for weekends so we can get a longer stretch of time to work with. If we want to fit enough time in for that whole agenda, I'd recommend trying to get a whole day to work with. Like a one-day mini conference of sorts.

Does DevHub have any restrictions on length?

[2019-09-28 00:02] brentvatne commented on #29
sunday would work but i won't be able to attend until early afternoon. weeknights except tuesday are also good.

[2019-09-28 03:04] daffl commented on #29
Sundays work, weekdays depend on the day.

[2019-09-28 05:16] ShMcK commented on #29
I've emailed a few people at DevHub regarding their availability on Oct 13th (with Oct 7th, 20th as other options), hope to get on a call with them soon.  Thanks @jensen for putting me in touch.

@brentvatne when do you consider "early afternoon"? We could always move the workshop earlier to buy an extra hour.

Thanks again guys for being amazing ambassadors for the open-source community.

[2019-09-29 21:11] ShMcK commented on #29
Does Sunday, Oct 20th work for you guys? 1-5pm? No requirement to stay for the whole period.

October 13th looks like Thanksgiving Sunday (for Canadians), so that's not the best choice. 7th is too soon.

DevHub has capacity for ~100ish with desks for 90 split across two rooms (60 & 30). The bigger room can be augmented to hold more for a speaker session. They also have audio/video equipment to fit

[2019-09-30 17:43] Qard commented on #29
Works for me. 👍

[2019-09-30 17:45] Qard commented on #29
@halkeye just making sure you've seen this too.

[2019-09-30 18:51] brentvatne commented on #29
that works for me too. early afternoon for me just means enough time to fit in a long run in the morning, so 1pm is fine.

[2019-10-02 01:42] keywordnew commented on #29
@Qard @daffl what do you think of merging the 19th's regularly scheduled Getting Started in Open Source into this proposed event on the 20th? Could get one weekend day back ;-)

[2019-10-02 02:56] daffl commented on #29
Yes, that totally makes sense.

[2019-10-02 19:25] Qard commented on #29
That was my thinking as well. 👍

[2019-10-02 22:17] ShMcK commented on #29
Still awaiting confirmation for the venue from DevHub, then I'll post it on meetup.

[2019-10-02 22:55] keywordnew commented on #29
Thanks. I'll update the existing meetup event to point to the new event
when posted.

On Wed., Oct. 2, 2019, 15:17 ShMcK, <notifications@github.com> wrote:

[2019-10-03 16:02] james2doyle commented on #19
If we host @enginedigital in November, I can do this talk

[2019-10-03 20:54] ShMcK commented on #29
Confirmed, will post soon. We may need a sponsor or two for minor costs.

[2019-10-03 21:40] Qard commented on #29
Once we've got something up on meetup I can tweet about it on the NodeSchool Twitter account. :)

[2019-10-03 22:18] ShMcK commented on #19
It's a possibility. Nothing booked yet.

Do you have details on the @enginedigitial space? https://github.com/VanJS/meetup/blob/master/.github/ISSUE_TEMPLATE/venue-host.md

[2019-10-03 23:40] jagonalez commented on #19
@james2doyle reached out in the survey offering to host - i can add an issue with the info

[2019-10-03 23:48] ShMcK commented on #29
Posted: https://www.meetup.com/vancouver-javascript-developers/events/265388140

Let me know if any edits are in order

[2019-10-05 18:26] halkeye commented on #29
Your welcome to add myself. I'm strong JavaScript developer, help run node school, and involved with hacktoberfest for Jenkins.

[2019-10-06 04:46] keywordnew commented on #29
As this is a collaboration, I'd suggest making a duplicate event in NodeSchool to share with folks, including similar details to the event posted in VanJS.

[2019-10-06 04:48] halkeye commented on #29
who are you suggesting it to?

If you do make a nodeschool event, make sure the attendees list is 0 so people only sign up in one place

[2019-10-06 04:55] keywordnew commented on #29
The body mentions it's a collab with VanJS. It's in draft form, to be reviewed. Y'all should have access.

https://www.meetup.com/nodeschool-vancouver/events/265445365/

It's not possible to make an attendee list with zero. It can be 1.

[2019-10-06 05:24] halkeye commented on #29
Lgtm

[2019-10-06 14:11] trivikr opened #30 "Talk Proposal: Make your applications faster by using AWS JavaScript SDK v3"
- **Draft Title:** Make your applications faster by using AWS JavaScript SDK v3
- **Length:** 30 minutes full presentation
- **Links:**
  - Slides: https://slides.com/trivikram/modularized-aws-js-sdk
  - Dev-preview announcement blog post: https://aws.amazon.com/blogs/developer/new-aws-sdk-for-javascript-developer-preview/
  - Video recording from BellevueJS presentation: https://www.youtube.com/w

[2019-10-07 17:28] keywordnew commented on #29
Announced.

[2019-10-12 22:08] AkimaLunar opened #31 "Event: Christmas Meetup of Meetups"
React Vancouver (Ria, Nick & Anita) and GDG Vancouver (Davie & Kyle) have started planning the _Christmas Meetup of Meetups_ Would be really great if Van.js could join! 🎉

## [Event] Christmas Meetup of Meetups
**When:** Second week of December

**What:** 4-5 different meetups. Each meetup brings a speaker to give a talk on a high level topic like _“What technology might be interesting to members

[2019-10-13 19:54] trivikr commented on #30
Any update on this proposal?

[2019-10-15 21:31] diberry opened #32 "Talk Proposal: How much do you need to know about machine-learning?"
- **Draft Title**: How much do you need to know about machine-learning?

- **Length**:

20 (light) or 45 minutes (deep including code)

- **Links:** (slides, article, notes)
- **Which dates, particularly Tue/Wed/Thu during the 2nd/3rd week of a month, are you likely available?**

Available on Weds

### Speaker Bio
- **Name:**

Dina Berry

- **Mini-bio:**

Content developer for Microsoft working on

[2019-10-16 14:53] ShMcK commented on #30
Looks great, could we book you for January? We can aim for Jan 15th or 16th?

[2019-10-16 14:54] ShMcK commented on #32
Fascinating topic, I'd love to learn more. Let me know if you have an outline, or would like to chat about it to determine the length.

[2019-10-16 14:56] ShMcK commented on #29
We'll need some volunteers to help setup at DevHub (12pm on Sunday, event starts at 1pm). Give a thumbs up if you'd be interested.

[2019-10-16 15:13] trivikr commented on #30
Jan 15th/16th might work for us. I'll just check with my team.
Is there an option to give the talk remotely or we have to be in Vancouver in-person?

[2019-10-16 16:17] ShMcK commented on #30
We've never had a remote talk, but I think it's a good fallback plan. I wouldn't be opposed to the idea.

[2019-10-16 16:37] trivikr commented on #30
Thanks @ShMcK for the response.

We'll give the talk in person in Vancouver BC. However, we've the following requests:
* The speaker would be Chase Coalwell (@srchase) who also contributes to AWS SDK for JavaScript
* We're interested for the dates in February. Is Thursday Feb 13th possible?

Does this work?

[2019-10-16 16:59] ShMcK commented on #30
I think we can make that happen. I'll tag the talk with Feb 13th and look for a second speaker.

[2019-10-16 17:07] diberry commented on #32
@ShMcK My deck isn't quite ready - I'm presenting it privately to a small group in November. I'll get feedback so perhaps January is a better fit.

[2019-10-16 17:08] ShMcK commented on #32
Great, I'll just tag this one as January for now.

[2019-10-16 19:59] jagonalez opened #33 "Sponsor request: FOSSA"
## Information

I'm adding this here for transparency. FOSSA is sponsoring our Hacktoberfest event, we'll be covering food + drink and the some of the rental cost.

Company name: FOSSA

Reason for sponsoring: We're hiring for software engineers in Vancouver

Contact info: www.fossa.com or myself

Logo:
![fossa-logo-dark](https://user-images.githubusercontent.com/15069040/66954067-87cecd00-f014-11e

[2019-10-16 20:32] ShMcK commented on #29
I put together some rough questions for the panel. Feel free to propose edits/additions/subtractions.

[code]

[2019-10-18 01:36] trivikr commented on #30
Sounds good! 👍

[2019-10-19 02:35] ShMcK commented on #31
I talked to Kyle, he said they're still in the planning stage at the moment, but will loop us in.

[2019-10-19 02:38] #33 closed

[2019-10-19 02:59] ShMcK opened #34 "Sponsor: Azure Tech Community"
From an email I received from an Azure Tech Community Evangelist:

[code]

TLDR

Benefits: Meetup Pro Account ($420/year) (https://www.meetup.com/pro)

Meetup Pro includes:
- improved user analytics
- improved communication through mailchimp integration (current plain text is a bit rough)
- ability to create networked mini-groups (VanJS workshops, etc)
- display sponsors, request sponsors, manage

[2019-10-19 17:09] jonnyk20 opened #35 "Talk Proposal: Intro to Machine Learning with Javascript"
- **Draft Title:** : Intro to Machine Learning with Javascript
- **Length:** : 30 Min
- **Links:**: Not ready yet
- **Which dates, particularly Tue/Wed/Thu during the 2nd/3rd week of a month, are you likely available?**
Any day from November 11th to the 22nd.

This talk will be an introduction for web developers who want to give machine learning a try, or are just curious. The main points of cover

[2019-10-20 16:58] ShMcK commented on #35
Hi Johny, this talk might go really well with #32 in January. Would that timing work for you?

[2019-10-20 19:30] ShMcK opened #36 "Q&A: Questions for Hacktoberfest Panel"
Post your questions for the Q & A Panel here, and we'll try to get to them in the discussion.

[2019-10-20 20:48] himynameisdave commented on #36
First off thank you for coming out today and taking questions!

My question is about time management: how do you find the spare time to contribute to open-source, especially if you already have a full-time job?

[2019-10-20 20:50] Sannylai commented on #36
Vagrant & .Net core are MIT license  // OPen Source Software ??

[2019-10-20 20:52] microsoftly commented on #36
What did you do to help increase the user base/promote your open source package(s)?

[2019-10-20 20:55] Cantor7 commented on #36
Im 100% new to coding and computer programming. What is the best route for someone like me to get into coding and open-source? Where do I start?

[2019-10-20 20:57] microsoftly commented on #36
How do you vet dependencies that you add to your projects?

(Context: avoiding issues like the event stream vuln)

[2019-10-20 20:59] severest commented on #36
Aside from the coding, what are some of the realities of owning/contributing to open-source projects that people just getting into it might not know about?

[2019-10-20 21:01] jrhender commented on #36
If there is an open-source project that you want to contribute to, what would you recommend to determine the specific areas or issues that you can best help out with?

[2019-10-20 21:02] jagonalez commented on #36
Can you share any tools or resources that are available to open source projects? Similar to how Jetbrains offers free subscription to open source projects.

[2019-10-20 21:06] ShMcK commented on #36
What makes a good issue? Do you have any good stories about "BAD" issues?

[2019-10-20 21:47] brentvatne commented on #30
maybe an AWS double header with @undefobj would be good? ;)

[2019-10-21 01:05] #36 closed

[2019-10-21 01:10] #29 closed

[2019-10-21 01:11] ShMcK commented on #34
Sounds, I'll get back to them and see what we can do with meetup pro.

[2019-10-21 01:11] #34 closed

[2019-10-21 02:52] jensen commented on #29
Thank you to everyone for the work you put into this. Great sessions. I saw a lot of engaged people.

[2019-10-21 15:05] jonnyk20 commented on #35
Sure!

[2019-10-23 17:36] tkbeili opened #37 "Talk Proposal: Javascript in the development of CodeCast"
- **Draft Title:** Javascript in the development of CodeCast
- **Length:** 20-45 minutes presentation
- **Links:** Will come later
- **Which dates, particularly Tue/Wed/Thu during the 2nd/3rd week of a month, are you likely available?**  2nd or 3rd week of November is good with us

Talk Summary:
- CodeCast overall architecture
- Using Electron.js with React/Redux for the desktop application (CodeC

[2019-10-23 18:05] ShMcK commented on #37
Working on something similar inside of VSCode, I'll put up a proposal that would blend together topics pretty well.

[2019-10-23 20:31] ShMcK opened #38 "Talk Proposal: VSCode inVSCode"
# VSCode in VSCode
* *Draft Title:* VSCode in VSCode: Building a Complex Extension
* *Length:* 20-45 minutes presentation
* *Links:* Will come later
* *Dates:* Ideally Nov 19th-21st
**Talk Summary:**
* CodeRoad (VSCode extension, API, web app) overall architecture
* Building VSCode extension capabilities & limitations, development experience
* Contrast extension development in VSCode & Atom
* Thou

[2019-11-02 16:52] ShMcK commented on #37
Let me know about any edits/updates:
https://www.meetup.com/vancouver-javascript-developers/events/266162173/

[2019-11-02 16:53] ShMcK commented on #38
Link: https://www.meetup.com/vancouver-javascript-developers/events/266162173/

[2019-11-03 00:38] argemiront opened #39 "Talk Proposal: Create a Test Suite with Docker"
Draft Title: Create a Test Suite with Docker
Length: 30m Presentation
Links: TBD - just a proposal at the moment
In this talk, we'll discuss how to create a rich, flexible and powerfull test suite for APIs using Docker containers and Jest. It will be presented how to use NoSQL databases to refresh the data for every test execution.

About Me
Name: Argemiro Neto
bio: Argemiro is a Data Engineer at

[2019-11-03 19:38] ShMcK commented on #39
In terms of availability, we're booking into the future these days.

We have a talk booked for Feb 13th on the topic of the AWS JavaScript SDK. We're waiting to hear from someone from the AppSync team to see if they'll confirm an AWS doubleheader. If that talk falls through, Feb 13th, otherwise March?

[2019-11-26 22:56] #37 closed

[2019-11-26 22:56] #38 closed

[2019-12-05 00:15] kimadeline opened #40 "Talk Proposal: Making sense out of pixels: Simple video analysis in JS 🔎"
- **Draft Title:** Making sense out of pixels: Simple video analysis in JS 🔎
- **Length:** 20-30 minutes presentation
- **Links:** I have the code in Python [here](https://github.com/kimadeline/overwatch-ocr), currently porting it to JS (will add the link once it's available on GitHub)
- **Which dates, particularly Tue/Wed/Thu during the 2nd/3rd week of a month, are you likely available?** Tuesday

[2019-12-09 20:29] trivikr commented on #30
@ShMcK How many attendees can we expect for this meetup?

[2019-12-09 21:03] ShMcK commented on #30
I'd guess around 100.

I'll book a venue this month and post.

[2019-12-12 03:42] ShMcK commented on #40
Hi Kim, Interesting proposal!

I'm curious, what is the code portion? How does the talk relate to JS?

[2019-12-12 16:58] kimadeline commented on #40
Hi @ShMcK 👋 Thank you for reading it!

Right now the code only exists in Python (repo is [here](https://github.com/kimadeline/overwatch-ocr), will add the link up there), however I am porting it to JS to use these packages and APIs:
- [ffmpeg](https://www.npmjs.com/package/ffmpeg)
- a database (probably [PouchDB](https://pouchdb.com/))
- [Azure Cognitive Services](https://docs.microsoft.com/en-us/

[2019-12-12 17:03] ShMcK commented on #40
Very cool!

Do you think you'd be available for a talk in March? Dates are flexible

[2019-12-12 17:08] kimadeline commented on #40
I'll be back in Vancouver on March 6th, any day after that would work 📆

[2019-12-18 04:17] ShMcK commented on #35
I've confirmed venue/sponsor for Jan 15th at Terminal.io downtown. @jonnyk20 does that date still work for you?

[2019-12-18 04:17] ShMcK commented on #32
I've confirmed venue/sponsor for Jan 15th at Terminal.io downtown. @diberry does that date still work for you?

[2019-12-18 04:18] #31 closed

[2019-12-18 04:19] ShMcK commented on #30
I've confirmed a venue/sponsor for Feb 13th at BrainStation (455 Granville St #400). Does that work for you?

[2019-12-18 13:10] diberry commented on #32
@ShMcK Wednesday, Jan 15th works. What was the time?

[2019-12-18 16:26] ShMcK commented on #32
It would 6pm, talks starting a little after 6:30pm. There's an option to go first or second.

[2019-12-18 16:39] diberry commented on #32
First or second is fine. Did we settle on 20 or 45 minutes? Either works but I want to know how much to prepare.

[2019-12-18 17:16] ShMcK commented on #32
If you're comfortable with that, take up to 45 minutes :)

[2019-12-18 19:55] jonnyk20 commented on #35
@ShMcK Sure!

[2019-12-18 21:11] ShMcK commented on #35
Great, I'll put up an event posting later today. I won't mail it out, but feel free to send me any edits.

[2019-12-19 02:35] ShMcK commented on #32
Let me know if there's anything you'd like me to change: https://www.meetup.com/vancouver-javascript-developers/events/267287320/

[2019-12-19 02:35] ShMcK commented on #35
Let me know if there's anything you'd like me to change: https://www.meetup.com/vancouver-javascript-developers/events/267287320/

[2019-12-19 03:19] ShMcK commented on #40
Would March 11th 6-8:30pm work?

[2019-12-19 05:54] kimadeline commented on #40
I know I said "any day after March 6th", but that was before work asked me to be out of Vancouver between March 9 and March 13, I'm sorry about that 🙈

[2019-12-19 23:08] trivikr commented on #30
Hi @ShMcK, we won't be able to prioritize this talk in February because of some high priority deliverables. That's why I've to close this issue.

I'll create a new issue for future meetup events, or reopen this one if our priorities change and if the speaking slot is still available for February.

[2019-12-19 23:08] #30 closed

[2019-12-19 23:14] ShMcK commented on #30
Thats too bad. Thanks @trivikr

[2020-01-03 22:57] dfberry commented on #32
Hi Shawn,

I've tweeked my deck. Can you look it over and see what needs to be changed for your audience? Or what questions you would want answered but it doesn't answer?

Thanks,
Dina

________________________________
From: ShMcK <notifications@github.com>
Sent: Wednesday, December 18, 2019 6:35 PM
To: VanJS/meetup <meetup@noreply.github.com>
Cc: Dina Berry <dinaberry@outlook.com>; Mention <menti

[2020-01-03 23:04] diberry commented on #32
[Presentation as PDF](https://microsoft-my.sharepoint.com/:b:/p/diberry/EVRiomWs80JEkzdLI72x4rEBLnSzwEB6F6-qESaMmru_4A?e=c9S4KH)

[2020-01-05 17:22] ShMcK commented on #32
@diberry - I'd love to take a look, but I don't seem to have access to view the presentation at microsoft-my.sharepoint.com. Is there another means, eg. OneDrive?

[2020-01-13 22:00] ShMcK commented on #35
@jonnyk20 still on for this Wednesday?

[2020-01-13 22:03] jonnyk20 commented on #35
@ShMcK yup. Should I just show up with my laptop a few minutes before event or is there anything else I should do to prepare?

[2020-01-14 02:49] ShMcK commented on #40
We had a February cancellation, would Feb 13th work?

[2020-01-14 16:31] kimadeline commented on #40
Things happened, I would prefer April 😬

[2020-01-15 16:05] ShMcK commented on #35
@jonnyk20 Judging by the snow today, I think we'll have to cancel the event tonight.

Let us know if you're open to reschedule to another day.

[2020-01-15 17:44] jonnyk20 commented on #35
@ShMcK Sounds good! Other than February 19th, any Wednesday is good for me, as long as I know early enough to block it off

[2020-01-15 17:56] ShMcK commented on #35
How about Feb 13th?

[2020-01-15 18:46] jonnyk20 commented on #35
@ShMcK sure!

[2020-01-17 17:21] leonardofaria opened #41 "Talk Proposal: Exploring device detection for better user experiences in 2020"
- **Draft Title:** Exploring device detection for better user experiences in 2020
- **Length**: 30m
- **Links:** https://leonardofaria.net/2020/01/15/exploring-device-detection-for-better-user-experiences-in-2020/
- **Which dates, particularly Tue/Wed/Thu during the 2nd/3rd week of a month, are you likely available?** Overall I can't think any preference

Would like to talk a little bit about devi

[2020-01-27 21:28] ShMcK commented on #41
Interesting topic! More complicated than it seems on the surface to determine a users device.

I was reading recently about the possible deprecation of `user-agent` and the possible implications of losing it. [Article](https://www.androidcentral.com/google-plans-improve-privacy-deprecating-user-agent-strings-chrome)

Would you be available for March 11th?

[2020-01-29 03:44] leonardofaria commented on #41
Hi! March 11th would be great!

[2020-01-30 05:28] kimadeline commented on #40
Hello hello, I updated my availability for April: Tuesdays/Wednesdays/Thursdays, except for April 15-April 20 📆

[2020-01-30 05:36] ShMcK commented on #40
Thanks, we have a potential offer for April 21st. Unconfirmed.

[2020-01-31 02:09] areisle opened #43 "Event: February 2020 Meetup"
- **Event Name:** Machine Learning with JS
  - **Decription:**
After a January snowday, VanJS is back with a look at machine learning in JS!

That's right! Not a typo - not Python, not R - ML in JAVASCRIPT.

Not only does ML in JS have real world use cases, it also provides a familiar base for exploring the intersection of computer science and data science.

- [x] **Date/Time:** 2-13-2020 6-8pm
-

[2020-02-01 19:22] ShMcK commented on #43
Host: I don't mind hosting this one.
Slides: I have these from the last event that was cancelled, I'll update them for this event.
Realtor Logo:

Reatlor.com suggested we use this logo: ![realtor_dot_com_logo_icon](https://user-images.githubusercontent.com/4660659/73597794-eac17280-44e4-11ea-8823-b1dd2d41b9f5.png)

[2020-02-03 01:14] areisle commented on #43
so we still need a logo from brainstation and then we're basically set?

[2020-02-03 01:45] ShMcK commented on #43
Basically just for the slides.

They have downloadable branding assets on their site: https://brainstation.io/press. Under logos.

All good!

[2020-02-03 02:20] areisle opened #44 "Event: March 2020 Meetup"
- **Event Name:** March Meetup
  - **Decription:**

- [x] **Date/Time:** 11-03-2020 6-8pm
- [ ] **MC host:**

- [ ] **Event Slides:**

- [x] **Speaker 1:** https://github.com/VanJS/meetup/issues/41
- [x] **Speaker 2:** https://github.com/VanJS/meetup/issues/46

- [x] **Venue:** TTT
  - **Logo:** (see sponsor)
  - **Writeup:** (see sponsor)
  - [ ] **Site Visit (If Required)**
- [x] **Sponsor:** TT

[2020-02-03 02:24] areisle opened #45 "Event: April 2020 Meetup"
- **Event Name:** TBD
  - **Decription:**

- [ ] **Date/Time:** 21-04-2020
- [ ] **MC host:**

- [ ] **Event Slides:**

- [ ] **Speaker 1:** https://github.com/VanJS/meetup/issues/40
- [ ] **Speaker 2:**

- [ ] **Venue:** Terminal (unconfirmed)
  - **Logo:**
  - **Writeup:**
  - [ ] **Site Visit (If Required)**
- [ ] **Sponsor:** Terminal  (unconfirmed)
  - **Logo:**
  - **Writeup:**
- [ ] **Poste

[2020-02-03 23:38] MarkLunney opened #46 "Talk Proposal: Improving Web Accessibility through Machine Learning"
- **Draft Title:** Improving Web Accessibility through Machine Learning
- **Length:** 30 Minutes
- **Links:** Work in Progress, I can share a WIP Google link with the Meetup Organisers
- **Which dates, particularly Tue/Wed/Thu during the 2nd/3rd week of a month, are you likely available?** Most evenings **except** March 16th-20th

Last year I won Microsoft's InsidersToCampus contest with my pitch

[2020-02-04 02:52] ShMcK commented on #46
You had me at Robot / cat theme.

Definitely we'd be happy to help with any early presentation feedback.

How's your availability for Mar 11th?

[2020-02-04 04:56] ShMcK commented on #39
After talking with @argemiront will close for now.

[2020-02-04 04:56] #39 closed

[2020-02-04 05:05] MarkLunney commented on #46
Great, March 11th works for me.

[2020-02-11 19:21] ShMcK commented on #35
@jonnyk20 just checking in - still on for Thursday Feb 13th?

[2020-02-11 21:58] jonnyk20 commented on #35
@ShMcK 👍

[2020-02-14 16:37] ShMcK commented on #32
Thank you coming up and delivering a great talk @diberry!

[2020-02-14 16:37] #32 closed

[2020-02-14 16:38] ShMcK commented on #35
Thanks for a wonderful talk @jonnyk20. Feel free to throw any links to your tutorials in the meetup page thread. :)

[2020-02-14 16:38] #35 closed

[2020-02-14 16:38] diberry commented on #32
@ShMcK It was alot of fun. You have a great group.

[2020-02-14 16:38] #43 closed

[2020-02-25 19:07] ShMcK commented on #41
@leonardofaria Still on for March 11th?

[2020-02-25 19:07] ShMcK commented on #46
@MarkLunney still on for March 11th? Will post soon

[2020-02-25 20:28] MarkLunney commented on #46
March 11th is still good for me. Slides are coming along, I'm migrating the demo from AWS to Microsoft Cognitive Services so ties in nicely with last months talks.

[2020-02-25 21:15] leonardofaria commented on #41
Hi @ShMcK, still good for March 11th.

Bio: Lead Software Developer at Thinkific, Mac collector and dog lover

[2020-02-25 21:41] ShMcK commented on #44
Just missing a blurb from the venue/sponsor, and we should be good to post :)

[2020-03-10 15:06] ShMcK commented on #41
@leonardofaria sorry to let you know, we will have to cancel the event tomorrow. Our hosts have decided not to host any events due to the potential spread of COVID-19. Perhaps we can reschedule in the future when there is less risk and uncertainty.

[2020-03-10 15:07] ShMcK commented on #46
@MarkLunney sorry to let you know, we will have to cancel the event tomorrow. Our hosts have decided not to host any events due to the potential spread of COVID-19. Perhaps we can reschedule in the future when there is less risk and uncertainty.

[2020-03-10 15:10] ShMcK commented on #44
Event canceled due to a loss of venue/sponsor and risk of COVID-19 spreading.

[2020-03-10 15:10] #44 closed

[2020-03-10 15:13] leonardofaria commented on #41
@ShMcK Thanks for letting me know. Let's try in your next event but for now, not much to do

[2020-09-18 19:35] kimadeline opened #47 "Hacktoberfest 2020"
Hello hello VanJS organizers!

I didn't get a chance to participate in the Hacktoberfest event that was organized last year (https://github.com/VanJS/meetup/issues/29), and I'd love to join this year! Do you have anything planned so far?

🔗 Hacktoberfest: https://hacktoberfest.digitalocean.com

[2020-09-18 19:40] kimadeline commented on #40
Hello hello,

I know this has been in limbo for a little while, would it be possible to withdraw this proposal for now?

Sorry for the trouble 😞

[2020-09-18 20:35] ShMcK commented on #40
Of course, it has been a while. April was a world away.

[2020-09-18 20:35] #40 closed

[2021-03-12 05:10] MarsGoatz opened #48 "Talk Proposal: Dart & Flutter"
- Dart & Flutter
- 45 minutes
- https://fluttervancouver.github.io/vanjs_talk/
- Tue/Wed/Thu after 5 pm

So far JS has dominated the cross platform mobile framework, specially with framework like React Native. Now enters a new player, Dart, a new programming language created by Google that is client-optimized for fast apps on any platform. In this talk we will look

- The story behind creation of

[2021-03-18 16:14] areisle commented on #48
hi @MarsGoatz given you're already booked for react vancouver for April, does May 11th or 12th work for you?

[2021-03-18 19:23] MarsGoatz commented on #48
Hello @areisle, May 11th works for me! Thank you for reaching out! :thumbsup:

[2021-03-20 17:42] cbreen872 opened #49 "New Hackathons for Members"
Hi everyone - Ria Nicola from React Vancouver suggested I post here to let you know about our latest hackathons.  It, not only, has some great prizes up for grabs, but allows you to utilize different skills from data science to machine learning and data visualization to help scientists learn more about a large kidney dataset assembled by NanoString’s GeoMx Digital Spatial Profiler:

NanoString Spa

[2021-04-29 00:51] MarsGoatz commented on #48
Hey @areisle, unfortunately I won't be able to give the talk on May 11th. Really apologize for that. Does July 13th or sometime after that work?

[2021-05-03 16:07] areisle commented on #48
@MarsGoatz no worries about May 11th. As for a later date, I'll discuss with the other organizers and get back to you

[2021-05-03 19:45] MarsGoatz commented on #48
Thank you @areisle 👍🏾

[2021-06-25 21:01] MarsGoatz commented on #48
Unfortunately, don't have any bandwidth for foreseeable future for the talk. Will reopen when I get the chance.

Thank you for the consideration! Really appreciate it! 👍🏾

[2021-06-25 21:01] #48 closed

[2022-11-29 03:28] pazooki opened #50 "Talk Proposal: Building A Site Builder"
- **Draft Title:**  Building A Site Builder
- **Length:** 20 Minutes
- **Links:** Available upon request (by the end of December)
- **Which dates, particularly Tue/Wed/Thu during the 2nd/3rd week of a month, are you likely available?** (Tues 24th OR Wed 25th OR Thu 26th), January 2023

The focus of this talk is about the journey of creating a Website/App builder with pure JavaScript and the lesson